{% load static %}
{% load women_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'women/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'women/css/style.css' %}">
</head>
<body>

<!-- Шапка -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            {% block mainmenu %}
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {% for m in menu %}
                        {% if not forloop.last %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"
                                   href="{% url m.url_name %}">{{ m.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="navbar-nav mb-2 mb-md-0">
                    <li class="nav-item">
                        {% with menu|last as last %}
                            <a class="nav-link active" aria-current="page" href="{% url last.url_name %}">
                                {{ last.title }}
                            </a>
                        {% endwith %}
                    </li>
                </ul>
            {% endblock mainmenu %}
        </div>
    </div>
</nav>

<div class="row">
<!-- Sidebar слева -->
    <div class="col-md-3 col-lg-2 mt-5">
        <div class="list-group">
            {% if cat_selected == 0 %}
                <a href="{% url 'home' %}" class="list-group-item list-group-item-action active" aria-current="true">
                    Все категории
                </a>
            {% else %}
                <a href="{% url 'home' %}" class="list-group-item list-group-item-action" aria-current="true">
                    Все категории
                </a>
            {% endif %}

            {% show_categories '-name' cat_selected %}
        </div>
    </div>
<!-- конец Sidebar -->

    <div class="col-md-8 col-lg-9">
        {% block content %}
        {% endblock content %}
    </div>
</div>

</body>
</html>