<ul class="navbar-nav me-auto mb-2 mb-md-0">
    {% for m in menu %}
        {% if not forloop.last %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"
                   href="{% url m.url_name %}">{{ m.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
<ul class="navbar-nav mb-2 mb-md-0">
    <li class="nav-item">
        {% with menu|last as last %}
            <a class="nav-link active" aria-current="page" href="{% url last.url_name %}">
                {{ last.title }}
            </a>
        {% endwith %}
    </li>
</ul>